.country-card {
    background-color: rgb(255, 254, 254);
    border: 1px solid #e99393;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    display: block;
    text-decoration: none;
    color: inherit;
  }

  .country-card:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    transition: all 0.3s ease;
  }

  .country-card h3, .country-card p {
    margin: 0; 
    color: inherit; 
  }